body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
	color: white;
	background: #21231A;
	font-size: 1.3rem;
	padding-top: 30px;
	padding-left: 60px;
}

button {
	padding: 10px;
	font-size: 1.3rem;
	color: white;
	background: #1f024d;
	border-radius: 3px;
	border: 0px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:active {
	box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	background: #1f024dda;
}
